import /init.recovery.qcom_decrypt.rc

on early-init
    exec u:r:set_permissive:s0 -- /system/bin/set_permissive.sh

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1

on late-init
    # Display stack
    insmod /vendor_dlkm/lib/modules/msm_drm.ko

    # kısa gecikme
    exec u:r:recovery:s0 -- /system/bin/sleep 1

    # Touch (STOCK yol)
    insmod /vendor_dlkm/lib/modules/fts_tp.ko

on boot
    setprop sys.usb.config adb
    write /sys/class/leds/vibrator/activate 0
    write /sys/class/leds/vibrator/enable 0

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
